<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title><%= htmlWebpackPlugin.options.title %></title>

    <style>
        
        .links line {
          stroke: #999;
          stroke-opacity: 0.6;
        }

        .nodes circle {
          stroke: #fff;
          stroke-width: 1.5px;
        }
        
        circle > title {
            color: #0ff;
        }
    </style>

  </head>
  <body>
    <header>
      <h1>JOB TECH</h1>
      <h5>OF</h5>
      <h3>NASHVILLE</h3>
    </header>
    
    <main>
      
    <section>
        <section id="resultsTable">
            <div class="loading">Loading table...</div>
        </section>
        <section id="resultsGraph">
            <div class="loading">Loading graph...</div>
        </section>
    </section>
      
      <aside>
        <h4>What is this?</h4>
        <p>This is part of an ongoing experiment to get an idea of what local employers are looking for as far as tech goes. All of the data was pulled from Indeed.com, so there is certainly potential for skewed results. However, Indeed's popularity should mean the results are fairly representative of Nashville's tech scene.</p>
        
        <h4>How was this done?</h4>
        <p>Google Sheets! I only found out recently that G Sheets can not only be scripted with JavaScript (as well as the rest of G Suite), it can also be used as a web scraper. So I set up my scraper to run on a weekly basis and dump the results into a spreadsheet. That sheet is then accessed by this site (as JSON) and then put through a pipeline of functions to bring you the tidy results you see here.
        
        <h4>Careful now...</h4>
          
          <p>"*" means questionable results. All terms with filtered out with regular expressions. Unfortunately, regexs don't allow for context, so non-tech specific words like "go" can yield a lot of false positives. At the moment, I would completely discount "C."</p>
          
          <p>The following terms had no related job postings:</p>
          <ul id="noRefsList"></ul>
      </aside>
    </main>
    
    <hr />
    
    <footer>
      <p>&copy; <a href="https://github.com/beanmo">Benjamin Morin</a> 2017</p>
    </footer>
 
  </body>
</html>
